@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* Author profile photo size */
@media (min-width: 1024px) {
  .sidebar .author__avatar img {
    width: 180px;
    height: 180px;
    max-width: 180px;
    object-fit: cover;
    border-radius: 50%;
  }
}
